<%- include('../sharedViews/head',{pageTitle:'Product Details'}) %>


<script src="/scripts/add-item-to-cart.js" type="text/javascript" defer></script>


</head>
<body>
<%- include('../sharedViews/header') %>
<main id="product-details">
    <div class="card text-center">
        <div class="card-imgs">
            <%for (let i=0;i<product.image.length;i++){%>
            <img class="card-img-top" src="/products/assets/images/<%=product.image[i].filename%>" alt="<%=product.title%>">
            <%}%>
        </div>


        <div id="product-info" class="card-body">
            <h1 class="card-title"><%=product.title%></h1>
            <p class="card-text">Price: <%=product.price%></p>
            <button class="btn btn-primary" data-productid="<%=product._id%>" data-csrf="<%=locals.csrfToken%>">Add to Cart</button>
        </div>
    </div>
    <p class="card-text" id="product-description"><%=product.category%></p>
    <p class="card-text" id="product-description"><%=product.description%></p>
</main>

<%- include('../sharedViews/footer') %>
