
<%-include('../sharedViews/head',{pageTitle:'Login page'})%>
<link href="./styles/form.css" rel="stylesheet">

</head>
<body>
<%- include('../sharedViews/header')%>
<main>
    <section class="form">


        <form action="/login" method="post">
            <h1>Log in Now</h1>
            <input type="hidden" name="_csrf" value="<%=locals.csrfToken%>">
            <% if(data.errorMessage){%>
            <p id="errorMessage"> <%=data.errorMessage %></p>
            <%}%>
            <p class="mb-3">
                <label class="form-label">Email</label>
                <input class="form-control" aria-describedby="emailHelp" type="email" id="email" name="email" value="<%=data.email%>" required>
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </p>
            <p class="mb-3">
                <label class="form-label">Password</label>
                <input class="form-control" type="password" id="password" name="password" minlength="6" value="<%=data.password%>" required>
            </p>

            <section class="buttons">
                <div>
                    <button type="reset" class="btn btn-primary">Reset</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
                <!--<a href="/login">Signup instead</a>-->
            </section>
        </form>
    </section>

</main>

<%- include('../sharedViews/footer')%>