
<%-include('../sharedViews/head',{pageTitle:'Product Management'})%>
<link href="/styles/form.css" rel="stylesheet">
<script src="/scripts/image-preview.js" defer></script>
<script src="/scripts/dropdown-pre-selected.js" defer></script>

</head>
<body>
<%- include('../sharedViews/header')%>
<main>
    <section class="form">
    <h1>Edit Product</h1>
    <form action="/update-product/<%=product._id%>?_csrf=<%=locals.csrfToken%>" method="post" enctype="multipart/form-data">
        <p>
            <label for="title">Title</label>
            <input type="text" id="title" name="title" value="<%=product.title%>" required>
        </p>
        <div class="image-upload-control">
            <p>
                <label for="image">Image</label>
                <input type="file" id="image" name="multi-files" accept="image/*" multiple>
            </p>
            <% for(let i=0;i<5;i++){%>
            <img class="image-preview" src="" alt="image-preview">
            <%}%>
        </div>
        <input type="hidden" id="cate-result" value="<%=product.category%>" disabled>
        <p>
            <label for="cars">Choose a category:</label>
            <select id="category" name="category">
                <option value="honda">Honda</option>
                <option value="mitsubishi">Mitsubishi</option>
                <option value="subaru">Subaru</option>
                <option value="toyota">toyota</option>
                <option value="nissan">Nissan</option>
                <option value="mazda">Mazda</option>
            </select>
        </p>
        <input type="hidden" id="material-result" value="<%=product.material%>" disabled>
        <p>
            <label for="material">Material</label>
            <select id="material" name="material">
                <option value="pu">PU</option>
                <option value="fiberglass">Fiberglass</option>
                <option value="carbonfibre">Carbonfibre</option>
                <option value="others">Others</option>
            </select>
        </p>
        <p>
            <label for="price">Price</label>
            <input type="number" id="price" name="price" min="0.01" step="0.01" value="<%=product.price%>" required>
        </p>
        <p>
            <label for="description">Description</label>
            <textarea id="description" name="description" rows="7" required><%=product.description%></textarea>
        </p>
        <p>
            <button type="reset" class="btn btn-alt">Reset</button>
            <button class="btn">Save</button>
        </p>
    </form>
    </section>
</main>

<%- include('../sharedViews/footer')%>
