<%- include('../sharedViews/head',{pageTitle:'Your Cart'}) %>

<link href="./styles/form.css" rel="stylesheet">
<link href="./styles/cart.css" rel="stylesheet">
<script src="/scripts/update-cart.js" defer></script>

</head>
<body>
<%- include('../sharedViews/header') %>
<main>
    <h1 class="text-center">Your Queries</h1>

    <ul id="cart-items">
        <% for (const item of locals.cart.items){ %>
            <li>
                <%- include('cart-item.ejs',{item:item}) %>
            </li>
        <% } %>
    </ul>
    </div>
    <div id="cart-total">
        <p>Total:$ <span id="cart-total-price"><%= locals.cart.totalPrice.toFixed(2) %></span></p>
        <p id="cart-total-fallback">Please enter details below</p>
    </div>

    <section class="form">
        <form action="/order" method="post" id="contact-form">
            <h2 class="text-center">Contact details</h2>
            <input type="hidden" name="_csrf" value="<%= locals.csrfToken %>">
            <p class="mb-3">
                <label class="form-label">Email</label>
                <input class="form-control" type="email" id="email" name="email" required>
            </p>
            <p class="mb-3">
                <label class="form-label">Name</label>
                <input class="form-control" type="text" id="name" name="name" maxlength="30" required>
            </p>
            <p class="mb-3">
                <label class="form-label">Query detail</label>
                <textarea class="form-control" id="detail" name="detail" required></textarea>
            </p>
            <div class="buttons">
                <button class="btn btn-primary">Send to Query</button>
            </div>
            <p class="text-center" style="padding-top: 1rem">We will contact you via email in 1-2 working days.</p>
        </form>
    </section>
</main>

<%- include('../sharedViews/footer') %>
